<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="chat.css">
    <!-- Font Awesome File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>

    <div class="container app">
        <div class="row app-one">




            <!-- New Message Sidebar End -->

            <!-- Conversation Start -->
            <div class="col-sm-8 conversation">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="http://shurl.esy.es/y">
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">

                        <select id="username" class="heading-name-meta">
                        </select>
                        <input value="satya" type="hidden" />
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- Heading End -->

                <!-- Message Box -->
                <div class="row message" id="conversation">

                    <div class="row message-previous">
                        <div class="col-sm-12 previous">
                            <a onclick="previous(this)" id="ankitjain28" name="20">
                                Show Previous Message!
                            </a>
                        </div>
                    </div>

                    <!-- <div class="row message-body">
                        <div class="col-sm-12 message-main-receiver">
                            <div class="receiver">
                                <div class="message-text">
                                    Hyy, Its Awesome..!
                                </div>
                                <span class="message-time pull-right">
                                    Sun
                                </span>
                            </div>
                        </div>
                    </div> -->
                    <input type='hidden' id='replay' value='false'>
                    <div class="row message-body" id="chatroom">
                        <div class="col-sm-12 message-main-sender">
                            <div class="sender">
                                <div class="message-text">
                                    Thanks n I know its awesome...!
                                </div>
                                <span class="message-time pull-right">
                                    Sun
                                </span>
                                <div>data</div>
                            </div>
                        </div>
                    </div>
                    <span id="feedback"></span>
                </div>
                <!-- Message Box End -->

                <!-- Reply Box -->

                <div class="row reply">
                    <div class="col-sm-1 col-xs-1 reply-emojis">
                        <i class="fa fa-smile-o fa-2x"></i>
                    </div>
                    <div class="col-sm-9 col-xs-9 reply-main">
                        <textarea class="form-control" id="message" rows="1" id="comment"></textarea>
                    </div>
                    <div class="col-sm-1 col-xs-1 reply-recording">
                        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1 reply-send">
                        <button id="send_message" type="button">
                            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!-- Reply Box End -->
            </div>

            <!-- Conversation End -->
            <div class="col-sm-3 conversation">

                <div class="row heading">
                    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <!-- <img src="http://shurl.esy.es/y"> -->
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">


                        <input value="satya" type="hidden" />
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                        <!-- <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i> -->
                    </div>
                </div>

                <div class="row message" id="allusers">
                </div>
            </div>
        </div>
        <!-- App One End -->
    </div>

    <!-- App End -->
    <script src="chat.js"></script>
    <script>
        $(".heading-compose").click(function () {
            $(".side-two").css({
                "left": "0"
            });
        });

        $(".newMessage-back").click(function () {
            $(".side-two").css({
                "left": "-100%"
            });
        });
    </script>
</body>

</html>